*.rds filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.Rdata filter=lfs diff=lfs merge=lfs -text
Data/gdp_data_all_countries.xlsx filter=lfs diff=lfs merge=lfs -text
Data/gdpData.xlsx filter=lfs diff=lfs merge=lfs -text
Data/Reference[[:space:]]File.xlsx filter=lfs diff=lfs merge=lfs -text
Data/seedRate.xlsx filter=lfs diff=lfs merge=lfs -text
Data/tradeMap_2019.xlsx filter=lfs diff=lfs merge=lfs -text
Data/caloriesData.xlsx filter=lfs diff=lfs merge=lfs -text
Data/countryImportData.xlsx filter=lfs diff=lfs merge=lfs -text
Data/cpc2.1.xlsx filter=lfs diff=lfs merge=lfs -text
Data/feedRatio.xlsx filter=lfs diff=lfs merge=lfs -text
Data/populationData.xlsx filter=lfs diff=lfs merge=lfs -text
Data/crop_livestock_classification.xlsx filter=lfs diff=lfs merge=lfs -text
Data/Elements.xlsx filter=lfs diff=lfs merge=lfs -text
Data/fish.xlsx filter=lfs diff=lfs merge=lfs -text
Data/lossRatio.xlsx filter=lfs diff=lfs merge=lfs -text
Data/codeList.xlsx filter=lfs diff=lfs merge=lfs -text
Data/Food[[:space:]]Grouping_SUA[[:space:]]to[[:space:]]GIFT_for[[:space:]]FBS[[:space:]]tool.xlsx filter=lfs diff=lfs merge=lfs -text
Data/production_list_cpc.xlsx filter=lfs diff=lfs merge=lfs -text
Trade/Data/countryImportData.xlsx filter=lfs diff=lfs merge=lfs -text
Trade/Data/standard_codes.xlsx filter=lfs diff=lfs merge=lfs -text
Reference[[:space:]]Files/commodityCodes.xlsx filter=lfs diff=lfs merge=lfs -text
Reference[[:space:]]Files/Reference[[:space:]]File.xlsx filter=lfs diff=lfs merge=lfs -text
